<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Map</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">My Map</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        {{ coordinates|json_script:"coordinates_field" }}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>  
      
        <div class="container" role="main">
            <div class="jumbotron">
                <p>Welcome to My map</p>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2 top">
                        <span class="right">Select an area:</span>
                    </div>
                    <div class="col-lg-4">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Address" aria-label="...">
                      </div><!-- /input-group -->
                    </div>
                    <div class="col-lg-3"></div>
                </div><!-- /.row -->
                <br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2 top">
                        <span class="right">Select type:</span>
                    </div>
                    <div class="col-lg-4">
                      <div class="input-group">
                        <select  class="form-control">
                            {% for category in categories %}
                                <option class="form-control" value="{{ category }}">{{ category }}</option>
                            {% endfor %}>
                        </select>
                      </div><!-- /input-group -->
                    </div>
                    <div class="col-lg-3"></div>
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2 top">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Search...</button>
                        </div>
                    </div>
                    <div class="col-lg-5"></div>
                </div><!-- /.row -->
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!--The div element for the map -->
                    <div id="map"></div>
                </div><!--/.col-xs-6.col-lg-4-->
            </div><!--/row-->
            <hr>
        
            <footer>
                <p>&copy; 2020 Company, Inc.</p>
            </footer>
        
        </div><!--/.container-->
        
        <script>
            // Initialize and add the map
            function initMap() {
                var coordinates = JSON.parse(document.getElementById('coordinates_field').textContent);
                console.log(coordinates)
                centerCords = parseInt(Object.keys(coordinates).length / 2)
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 15, center: coordinates[centerCords]});
                addMarker(map, coordinates);
            }

            addMarker = (map, coordinates) => {
                for (let [key, cord] of Object.entries(coordinates)) {
                    // Set the marker
                    new google.maps.Marker({position: cord, map: map});
                }
                // The marker, positioned at Uluru
                // var marker = new google.maps.Marker({position: coordinates[0], map: map});
            }
        </script>
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <!-- Style -->
        <style>
            body {
                padding-top: 70px;
                padding-bottom: 30px;
            }
            .theme-showcase .navbar .container {
                width: auto;
            }
            .right {
                float: right;            }
            .top {
                top: 4px;
                left: 5px;
            }
            .center {
                margin: auto;
                width: 50%;
                border: 3px solid green;
                padding: 10px;
            }
            /* Set the size of the div element that contains the map */
            #map {
                height: 500px;  /* The height is 400 pixels */
                width: 100%;  /* The width is the width of the web page */
            }
        </style>
    </body>
</html>