<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Map</title>
        <meta name="author" content="Fayshal Uddin">
        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark  mb-4">
            <div class="container">
                <a class="navbar-brand" href="#">My Map</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                    </li>
                    {{ coordinates|json_script:"coordinates_field" }}
                </ul>
                </div>
            </div>
        </nav>
      
        <div class="container" role="main">
            <div class="jumbotron">
                <!-- <p class="lead">Welcome to My map</p> -->
                <form class="container center">
                    <div class="form-group">
                      <label for="address">Select an area:</label>
                      <input type="text" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter address" required >
                      <small class="form-text text-muted">Ex. Uttara, Dhaka</small>
                    </div>
                    <div class="form-group">
                        <label for="category">Select a category:</label>
                        <select class="form-control" id="category">
                            <option selected>Choose...</option>
                            {% for category in categories %}
                                    <option class="form-control" value="{{ category }}">{{ category }}</option>
                            {% endfor %}>
                        </select>
                    </div>
                    <button type="button" onclick="search()" class="btn btn-primary">Search...</button>
                </form>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <!--The div element for the map -->
                    <div id="map"></div>
                </div><!--/.col-xs-6.col-lg-12-->
            </div><!--/row-->
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button> -->
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
  
            <hr>
        
            <footer>
                <p>&copy; 2020 Company, Inc.</p>
            </footer>
        
        </div><!--/.container-->
        
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Latest compiled and minified JavaScript -->
        <script 
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous">
        </script>
        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous">
        </script>

        <!-- Style -->
        <style>
            /* Show it's not fixed to the top */
            body {
                min-height: 75rem;
            }
            .theme-showcase .navbar .container {
                width: auto;
            }
            .right {
                float: right;            }
            .top {
                top: 4px;
                left: 5px;
            }
            .center {
                margin: auto;
                width: 50%;
            }
            /* Set the size of the div element that contains the map */
            #map {
                height: 500px;  /* The height is 500 pixels */
                width: 100%;  /* The width is the width of the web page */
            }
        </style>

        <script>
            var map = null;
            var coordinates = {};
            // Initialize and add the map
            function initMap() {
                // The map, centered at Dhaka
                map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 15, center: {lat: 23.7104, lng: 90.40744}});

                //Listen for any clicks on the map.
                // google.maps.event.addListener(map, 'click', function(event) {                
                //     //Get the location that the user clicked.
                //     // var clickedLocation = event.latLng;
                //     console.log(event);

                //     marker = new google.maps.Marker({
                //             position: event.latLng,
                //             map: map,
                //             draggable: true //make it draggable
                //         });
                //     //If the marker hasn't been added.
                //     // if(marker === false){
                //     //     //Create the marker.
                //     //     marker = new google.maps.Marker({
                //     //         position: clickedLocation,
                //     //         map: map,
                //     //         draggable: true //make it draggable
                //     //     });
                //     //     //Listen for drag events!
                //     //     google.maps.event.addListener(marker, 'dragend', function(event){
                //     //         markerLocation();
                //     //     });
                //     // } else{
                //     //     //Marker has already been added, so just change its location.
                //     //     marker.setPosition(clickedLocation);
                //     // }
                //     //Get the marker's location.
                //     // markerLocation();
                // });
            }

            updateMap = () => {
                centerCords = getCenterIndex();

                // The map, centered at the middle result
                map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 15, center: coordinates[centerCords]});
                addMarker(coordinates);
            }

            getCenterIndex = () => {
                centerIndex = parseInt(Object.keys(coordinates).length / 2);
                var i = 0;
                for (x in coordinates) {
                    i++;
                    if (i == centerIndex) {
                        return x;
                    }
                }
            }

            addMarker = (coordinates) => {
                for (let [key, cord] of Object.entries(coordinates)) {
                    // Set the marker
                    var marker = new google.maps.Marker({position: cord, map: map});

                    //Listen for clicks on the map.
                    google.maps.event.addListener(marker, 'click', function() { 
                        alert("I am marker " + key); 
                    }); 
                }
            }

            search = () => {
                var address = document.getElementById('address').value.trim();
                var category = document.getElementById('category').value;

                if (!address) {
                    alert('Please enter an address!');
                    return;
                }
                if (category === 'Choose...') {
                    alert('Please select a category!');
                    return;
                }
                var jqxhr = $.get( `query?address=${address}&category=${category}`, () => {})
                    .done((data) => {
                        console.log( JSON.parse(data) );
                        coordinates = JSON.parse(data);
                        if (Object.keys(coordinates).length > 0) {
                            updateMap();
                        }
                        else {
                            alert('No results found!');
                            initMap();
                        }
                    })
                    .fail((error) => {
                        console.log( 'error' );
                    });

            }
        </script>
    </body>
</html>